container/code/lightning_logs/*
.idea/*
fogify/data/*
fogify/metrics/*
fogify/profile/*
*.pyc
*.ipynb_checkpoints/*
t10k-images-idx3-ubyte.gz
t10k-labels-idx1-ubyte.gz
train-images-idx3-ubyte.gz
train-labels-idx1-ubyte.gz
fogify/upload.sh
fogify/download.sh
container/code/.ipynb_checkpoints/__init__-checkpoint.py
fogify/.ipynb_checkpoints/*
fogify/.ipynb_checkpoints/*
